# Виртуальное окружение
Lib/
Scripts/
pyvenv.cfg

# Кэш Python
__pycache__/
*.pyc

# Файлы IDE (PyCharm)
.idea/
*.iml

# Системные/временные файлы
.DS_Store
*.log
*.tmp
*.swp

# Ошибочно добавленный файл (без точки в начале)
gitignore